.cent {
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appWrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:70vw;
  height:70vh;
  margin-left: 15vw;
}

.rowWrap {
  display:flex;
  flex-direction:row;
}

.item {
  height:25px;
  width:25px;
  border:2px solid rgb(0, 0, 0);
  justify-content:center;
  align-items:center;
  display:flex
}

.showEndGame {
  height: 70vh;
  width: 50vw;
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: rgba(31, 31, 33, 0.9);
  border-radius: 8px;
}

.leaderboard {
  position: absolute;
  width: 80vw;
  max-height: 80vw;
  height: 80vh;
  top: 10vh;
  left:10vw;
}

.item:hover{
  cursor: pointer;
}